@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url(/font/Inter-VariableFont_opsz\,wght.ttf);
}

@theme {
  --font-display: "Inter", serif;

  /* Primary */

  --color-green-500: hsl(163, 72%, 41%);
  --color-red-500: hsl(356, 69%, 56%);

  --color-blue-600: hsl(208, 92%, 53%);
  --color-blue-500: hsl(203, 89%, 53%);

  --color-red-700: hsl(348, 97%, 39%);
  --color-red-500: hsl(356, 69%, 56%);

  --color-gradient-11: hsl(37, 97%, 70%);
  --color-gradient-12: hsl(5, 77%, 71%);
  --color-gradient-13: hsl(329, 70%, 58%);

  /* Dark Theme */

  --color-gradient-21: hsl(210, 79%, 56%);
  --color-gradient-22: hsl(146, 68%, 55%);

  /* light Theme */

  --color-gray-400: hsl(230, 22%, 74%);

  /* neutral */

  /* Dark Theme */

  --color-gray-950: hsl(230, 17%, 14%);
  --color-gray-900: hsl(232, 19%, 15%);
  --color-navy-950: hsl(228, 28%, 20%);
  --color-gray-400: hsl(230, 22%, 74%);
  --color-white: hsl(0, 100%, 100%);

  /* light Theme */

  --color-white: hsl(0, 100%, 100%);
  --color-blue-50: hsl(225, 100%, 98%);
  --color-navy-50: hsl(227, 47%, 96%);
  --color-gray-650: hsl(228, 12%, 44%);
  --color-gray-950: hsl(230, 17%, 14%);
}

@variant dark (&:where(.dark, .dark *));
